@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Taviraj:wght@200&display=swap');

*{
    box-sizing: border-box;
    /* font-family: 'Raleway', sans-serif;*/
    font-family: 'Taviraj', serif;
}

h1{
    text-align: center;
}

.box{
    border: solid thin;
    border-radius: 5px;
    margin: 20px 0px;
    text-align: center;
}

ul{
    width: 25%;
    margin: auto;
}

a{
    text-decoration: none;
    color: rgb(255, 0, 0);
}

button{
    margin: 15px 0;
    cursor: pointer;
    border-radius: 10px;
}

.styleTabla, tr, td {
    border-radius: 15px;
    border:solid 1px black;
}

td{
    width: 50px;
}

.styleTabla{
    margin: auto;
    width: 50%;
}

input{
    border-radius: 15px;
}

.darkMode{
    background-color: rgba(0, 0, 0, 0.9);
    color: aliceblue;
}

.darkTable{
    border: solid 1px white;
}